*~
2020/dag03/.calva/output-window/output.calva-repl
2020/dag04/.calva/output-window/output.calva-repl
2020/dag04/.calva/output-window/.clj-kondo/config.edn
2020/.calva/output-window/.clj-kondo/config.edn
2020/.calva/output-window/output.calva-repl
2020/dag17.png
2020/dag17.ppm
2020/dag17.pbm
2020/dag17.txt
2020/dag21.txt
2020/.clj-kondo/
2020/.lsp/
2021/.calva/output-window/output.calva-repl
2021/resources/day24.db
2022/.nrepl-port
